@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-*: initial;

  --color-secondary: #75767F;
  --color-icons: #4A4D58;
  --color-elements: #3B3E4A;
  --color-surface-2: #323542;
  --color-surface-1: #161827;
  --color-black: #0F1121;
  --color-white: #F1F2F9; 
  --color-accent: #905BFF; 
  --color-green: #27AE60; 
  --color-red: #EB5757; 

}